h1 {
    margin: auto;
    text-align: center;
    padding: 10px;
}

div {
    margin: auto;
    text-align: center;
    padding: 10px;
}

img {
    display: flex;
    margin: auto;
    width: 50%;
    height: auto;
    padding: 10px;
}

button {
    padding: 10px;
}

button:focus {
    background-color:rgb(174, 213, 247);
}

.selected {
    background-color: green;
}

#start {
    display: table-cell;
    margin: auto;
    text-align: center;
    line-height: 10px;
    height: 30px;
    width: 100px;
}

#start-link {
    text-decoration: none;
}