h1 {
    margin: auto;
    text-align: center;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 'Medium 500';
}

h2 {
    margin: auto;
    text-align: center;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 'Regular 400';
    font-style: italic;
}

body {
    background-color: rgb(251, 210, 228);
}

div {
    margin: auto;
    text-align: center;
    padding: 20px;
}

img {
    display: flex;
    margin: auto;
    width: 50%;
    height: auto;
    border: solid;
    border-width: 5px;
    border-color:rgb(247, 114, 172);
    padding: 0px;
}

button {
    padding: 20px;
    background-color:rgb(245, 161, 197);
    border-radius: 20px;
}

button:focus {
    background-color:rgb(247, 114, 172);
}

.selected {
    background-color: rgb(191, 216, 191);
}

p {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

#cat-desc {
    margin: auto;
    text-align: center;
    font-size: larger;
    width: 50%;
}

#cat-temp {
    margin: auto;
    text-align: center;
    font-size: larger;
    width: 40%;
}

#start {
    display: table-cell;
    margin: auto;
    text-align: center;
    line-height: 2px;
    height: 30px;
    width: 100px;
}

#start-link {
    text-decoration: none;
}