h1 {
    margin: auto;
    text-align: center;
    padding: 10px;
}

body {
    background-color: rgb(251, 210, 228);
}

div {
    margin: auto;
    text-align: center;
    padding: 20px;
}

img {
    display: flex;
    margin: auto;
    width: 50%;
    height: auto;
    padding: 10px;
}

button {
    padding: 20px;
    background-color:rgb(245, 161, 197);
    border-radius: 20px;
}

button:focus {
    background-color:rgb(247, 114, 172);
}

.selected {
    background-color: rgb(191, 216, 191);
}


#start {
    display: table-cell;
    margin: auto;
    text-align: center;
    line-height: 10px;
    height: 30px;
    width: 100px;
}

#start-link {
    text-decoration: none;
}